.carousel__Item {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.Home__Grid {
  place-items: center;
}
.carousel__div {
  display: grid;
  place-items: center;
}
.Home__btn {
  background-color: #fff !important;
  all: unset;
  color: #552d1ed9;
  border:1px solid #552d1ed9 ;
  transition: all ease-in-out .2s;
}
.Home__btn:hover {
  transform: scale(0.9);
}
