.carousel__Item {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.Home__Grid {
  place-items: center;
}
.carousel__div {
  display: grid;
  place-items: center;
}
.Home__btn {
  background-color: #552d1ed9 !important;
  all: unset;
  color: white;
  transition: all ease-in-out .3s;
}
.Home__btn:hover {
  transform: scale(0.8);
}
